* {
	padding: 0;
	margin: 0;
}
body{

  	min-width: 350px;        /* Suppose you want minimum width of 1000px */
   	width: auto !important;  /* Firefox will set width as auto */
   	width:1000px;            /* As IE6 ignores !important it will set width as 1000px; */
}
.wrapper{
	font-family: Arial, sans-serif;
}
.logo-area {
	width: 100%;
	height: 100px;
	background-color: #DE5254;

}

.header, .footer {
	width: 100%;
	color: #FAE9E9;
}
.header {
/*	overflow: hidden;*/
	height: 100px;
	display: flex;
	}
.logo{
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 180px;
	height: 60px;
	background-image: url("../img/codefactory-vienna-1.png");

}
.title{
/*	width: 100%;*/
	height: 40px;
/*	background-color: green;*/
	position: relative;
	float: left;
	font-size: 1.4em;

}
.headline{
	display: inline;
	position: relative;
	top: 40px;
}
.navbar {
	margin-top: 4px;
	width: 100%;
	height: 40px;
	background-color: #868686;
}
ul {
	list-style-type: none;
/*	position: fixed;*/

	width: 100%;
}
.navbar li {
	float: left;
/*	border: 1px solid red;*/
}
.navbar a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 0 25px 0 25px;
	text-decoration: none;
}
.content {
	margin-top: 15px;
	display: flex;
}
#content-left, #content-right{
	width:48%;
	position: relative;
}

#content-left {
	margin-right: 2%;

}
#content-right {
	margin-left: 2%;
}

figure {
	width: inherit;
	height: inherit;
}
.img {
	height: 40vw;
/*	object-fit: fill;*/
	width: 100%;
	min-width: 70px;
	float: left;
	margin-bottom: 12%;
	display: relative;

}
img {
	width: 100%;
	height: 90%;

}

figcaption {
	padding-left: 2px;
	font-size: 2em;
}
.footer {
	background-color: #DE5254;
	text-align: center;
	display: table;

}
.footer p {
	height: 40px;
	display: block;
	float: center;
	display: table-cell;
	vertical-align: middle;
}
@media screen and (max-width: 1000px) {
	figcaption {
		font-size: 1.8em;
	}
@media screen and (max-width: 900px) {
	figcaption {
		font-size: 1.2em;
	}
@media screen and (max-width: 720px) {
	figcaption {
		font-size: 1em;
	}

		.title {
		height: 35px;

	}
	.headline{
		top: 20;
		font-size: 0.8em;
	}
}
/*@media screen and (max-width: 590px) {
	.title{
		font-size: 0.9em;
	}
	.logo {
		height: 40px
		margin-top: 10px;
	}


}*/
@media screen and (max-width: 590px) {
	figcaption {
		font-size: 0.8em;
	}
	.headline{
		font-size: 0.5em;
	}


}
@media screen and (max-width: 480px) {
	figcaption {
		font-size: 0.7em;
	}
	.logo {
		margin-top: 10px;
		margin-bottom: 5px;
		width: 165px;
		height: 50px;
		background-size: 165px 50px;
	}


}
@media screen and (max-width: 420px) {
	figcaption {
		font-size: 0.7em;
	}
	.headline{
		font-size: 0.5em;
	}

}
@media screen and (max-width: 400px) {
	figcaption {
		font-size: 0.6em;
	}
	.headline{
		font-size: 0.4em;
	}
	.navbar a {
		margin: 0 10px 0 10px;
	}

}
@media screen and (max-width: 320px) {
	figcaption {
		font-size: 0.6em;
	}
	.headline{

		font-size: 0.3em;
	}

}
