* {
	padding: 0;
	margin: 0;
}
body{

  	min-width: 440px;        /* Suppose you want minimum width of 1000px */
   	width: auto !important;  /* Firefox will set width as auto */
   	width:1000px;            /* As IE6 ignores !important it will set width as 1000px; */
}

.wrapper{
	font-family: Arial, sans-serif;
}
/* ---------------------------- Header styling---------------------------- */
.logo-area {
	width: 100%;
	height: 100px;
	background-color: #DE5254;

}

.header, .footer {
	width: 100%;
	color: #FAE9E9;
}
.header {
/*	overflow: hidden;*/
	height: 100px;
	display: flex;
	}
	/*place logo in the header*/
.logo{
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 180px;
	height: 60px;
	background-image: url("../img/codefactory-vienna-1.png");

}
.title{
/*	width: 100%;*/
	height: 40px;
/*	background-color: green;*/
	position: relative;
	float: left;
	font-size: 1.4em;

}
.headline{
	display: inline;
	position: relative;
	top: 40px;
}
/* ---------------------------- Navbar positioning and styling---------------------------- */
.navbar {
	margin-top: 4px;
	width: 100%;
	height: 45px;
	background-color: #868686;
}
ul {
	list-style-type: none;
	height: inherit;
/*	position: fixed;*/

	width: 100%;
}
.navbar li {
	height: inherit;
	float: left;
/*	border: 1px solid red;*/
}
.navbar li:hover{
	background-color: #DE9254;
    border-width:3px;  
    border-style:outset;
}
.active{
	background-color: blue;
}
.navbar a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 0 25px 0 25px;
	text-decoration: none;
}
/* ----------------------------  Positioning index.html---------------------------- */
.content {
	margin-top: 15px;
	display: flex;
}
#content-left, #content-right{
	width:48%;
	position: relative;
}

#content-left {
	margin-right: 2%;

}
#content-right {
	margin-left: 2%;
}
/* ---------------------------- Image positioning and styling---------------------------- */
figure {
	width: inherit;
	height: inherit;
}
.img {
	height: 40vw;
/*	object-fit: fill;*/
	width: 100%;
	min-width: 70px;
	float: left;
	margin-bottom: 12%;
	display: relative;

}
img {
	width: 100%;
	height: 90%;

}

figcaption {
	padding-left: 2px;
	font-size: 2.2em;
}
/*---------------------------- Footer styling Positioning---------------------------- */
.footer {
	background-color: #DE5254;
	text-align: center;
	display: table;

}
.footer p {
	height: 40px;
	display: block;
	float: center;
	display: table-cell;
	vertical-align: middle;
}
/*----------------------------  About me Seetings---------------------------- */
.profile {
	background-color: #DE5254;
	position: relative;
	left: 25%;
	width: 50%;
	margin-bottom: 20px;
/*	height: 50vw;*/
	min-width: 280px;
/*	display: -webkit-flex; 
    -webkit-justify-content: flex-start;  Safari 6.1+ 
    display: flex;
    justify-content: center;
    align-items: center;*/
}
.profile-header {
	display: flex;
}

.profile-image {
	width: 100%;
}
#profile-jpeg{
	display: flex;
	text-align: center;
	height: 20vw;
	margin-top:20px;
	margin-left:20px;
	min-width: inherit;
	width: inherit;
	border-radius: 100%;
	min-width: 150px;
}
/* ---------------------------- About me Content seeting---------------------------- */
.profile-title{
	text-align: center;
	clear: both;
	width: 100%;
	padding: 10px;
}
.profile-headletter{
	color: blue;
}
.profile-content{
	padding:25px;
}
.profile-content h2, ul {
	margin-top: 20px;
	margin-bottom: 20px;
}
.profile-content ul{
	padding-left: 40px;
	list-style-type: square;
}
/*----------------------------  Blog Settings---------------------------- */
.profile-content p, .content-blog p{
	line-height: 1.5em;
}
div [class^="column"]{
	width: inherit;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 25px;
	padding: 25px;
	background-color: #DE5254;
/*	background-image: url(img/code.jpeg);*/


}
.content-blog {
	margin-bottom: 25px;
}

div [class^="column-blog"] {
	color: #FAE9E9;
}
div [class^="column-"] {
}
div [class^="column-blog"] h1{
	font-size: 4em;
	color: blue;
}
div [class^="column-blog"] h4{
	font-style: italic;
	}
.column-blog-header-r {
	position: relative;
	flex: right;
	text-align: right;
	margin-right: 40px;
}
/*---------------------------- Form Setting---------------------------- */
.form-div {
	min-width: 180px;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-bottom: 20px;
	padding: 5vw;
	text-align: center;
	background-color: #DE5254;
	 display: -webkit-flex; /* Safari */
    -webkit-justify-content: flex-start; /* Safari 6.1+ */
    display: flex;
    justify-content: center;
    align-items: center;
}
form>.logo{
	text-align: center;
	clear: both;

}
form input {
	margin-bottom: 20px;

}
.form-div .submit{
	margin-top: 20px;
	border-radius: 4px;
	background-color: #868686;
	color: white;
	font-size: 1.5em;
	padding: 5px;
}
/*---------------------------- Resizing for different screen sizes---------------------------- */
@media screen and (max-width: 1000px) {
	figcaption {
		font-size: 1.8em;
	}
@media screen and (max-width: 900px) {
	figcaption {
		font-size: 1.2em;
	}
@media screen and (max-width: 720px) {
	figcaption {
		font-size: 1em;
	}

		.title {
		height: 35px;

	}
	.headline{
		top: 20;
		font-size: 0.8em;
	}
}
/*@media screen and (max-width: 590px) {
	.title{
		font-size: 0.9em;
	}
	.logo {
		height: 40px
		margin-top: 10px;
	}


}*/
@media screen and (max-width: 590px) {
	figcaption {
		font-size: 0.8em;
	}
	.headline{
		font-size: 0.5em;
	}


}
@media screen and (max-width: 480px) {
	figcaption {
		font-size: 0.7em;
	}
	.logo {
		margin-top: 10px;
		margin-bottom: 5px;
		width: 165px;
		height: 50px;
		background-size: 165px 50px;
	}


}

@media screen and (max-width: 420px) {
	figcaption {
		font-size: 0.7em;
	}
	.headline{
		font-size: 0.5em;
	}

}
@media screen and (max-width: 400px) {
	figcaption {
		font-size: 0.6em;
	}
	.headline{
		font-size: 0.4em;
	}
	.navbar a {
		margin: 0 10px 0 10px;
	}

}
@media screen and (max-width: 320px) {
	figcaption {
		font-size: 0.5em;
	}
	.headline{

		font-size: 0.3em;
	}

}
